* {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: sans-serif;
  background-color: #f1f1f1;
  font-size: 16px; /* 루트 요소의 font-size를 설정합니다. */
}

.container {
  max-width: 37.5rem; /* 600px을 16px로 나눈 값입니다. */
  margin: 0 auto;
  padding: 1.25rem; /* 20px을 16px로 나눈 값입니다. */
  background-color: #fff;
  box-shadow: 0 0 0.625rem rgba(0, 0, 0, 0.1); /* 10px을 16px로 나눈 값입니다. */
}

header {
  margin-bottom: 1.25rem; /* 20px을 16px로 나눈 값입니다. */
}

h1 {
  font-size: 2.25rem; /* 36px을 16px로 나눈 값입니다. */
  margin: 0;
}

form {
  margin-bottom: 1.25rem; /* 20px을 16px로 나눈 값입니다. */
}

input[type="text"],
textarea {
  display: block;
  width: 100%;
  padding: 0.625rem; /* 10px을 16px로 나눈 값입니다. */
  margin-bottom: 0.625rem; /* 10px을 16px로 나눈 값입니다. */
  border-radius: 0.3125rem; /* 5px을 16px로 나눈 값입니다. */
  border: none;
  background-color: #f9f9f9;
  box-shadow: inset 0 0 0.3125rem rgba(0, 0, 0, 0.1); /* 5px을 16px로 나눈 값입니다. */
  resize: none;
}

button {
  background-color: #4caf50;
  color: #fff;
  border: none;
  border-radius: 0.3125rem; /* 5px을 16px로 나눈 값입니다. */
  padding: 0.625rem; /* 10px을 16px로 나눈 값입니다. */
  cursor: pointer;
}

button:hover {
  background-color: #3e8e41;
}

ul.entries {
  list-style: none;
  padding: 0;
  margin: 0;
}

.art_section img {
  background-color: rgba(144, 141, 141, 0.1);
  width: 35rem;
  height: 35rem;
}

.art_section img {
  object-fit: contain;
}

/* 모바일 기기에 대한 스타일을 추가합니다. */
@media (max-width: 600px) {
	h1 {
		font-size: 1.5rem;
	}
	
	input[type="text"],
	textarea {
		padding: 0.5rem;
		border-radius
